/Consumer/bin/
/Consumer/Logs/
/Consumer/obj/
/Consumer/.DS_Store
/Consumer/Consumer.csproj.user

/Consumer.Infrastructure/bin/
/Consumer.Infrastructure/obj/

/Producer/bin/
/Producer/logs/
/Producer/obj/
/Producer/.DS_Store
/Producer/Producer.csproj.user

/SharedLibrary/obj/
/SharedLibrary/bin/

.git/
.idea/
.DS_Store
KafkaflowPOC.sln.DotSettings.user



/.vs
/SharedLibrary/obj/Debug/net8.0/SharedLibrary.csproj.FileListAbsolute.txt
/SharedLibrary/obj/SharedLibrary.csproj.nuget.g.targets
/SharedLibrary/obj/Debug/net8.0/SharedLibrary.GeneratedMSBuildEditorConfig.editorconfig
/SharedLibrary/obj/SharedLibrary.csproj.nuget.g.props
